<div id="cookie-notice">
    <h3>This website uses cookies</h3>
    <p class="padding-2">To provide you with the best experience, we use technologies such as cookies to store and/or access device information. By consenting to these technologies, we may process data such as your browsing behavior on this website. If you do not give or withdraw your consent, certain features and functionalities may be affected.</p>
    <h3>Diese Website verwendet Cookies</h3>
    <p class="padding-2">Um dir ein optimales Erlebnis zu bieten, verwenden wir Technologien wie Cookies, um Geräteinformationen zu speichern und/oder darauf zuzugreifen. Wenn du diesen Technologien zustimmst, können wir Daten wie das Surfverhalten auf dieser Website verarbeiten. Wenn du deine Zustimmung nicht erteilst oder zurückziehst, können bestimmte Merkmale und Funktionen beeinträchtigt werden.</p>
      <a id="cookie-notice-accept" class="button3"> Accept</a>
      <a id="close-cookie-banner" class="button3"> Decline</a>  


    <div class="left padded-lr">
      <a href="/cookie-policy" id="cookie-banner-datenschutz">Cookie Policy</a>
      <a href="/privacy" id="cookie-banner-datenschutz">Privacy Policy</a>
    </div>
  </div>
  
  <div class="reshow-button">
    <i class="fa-solid fa-angle-up"></i>
  </div>