<div id="cookie-notice">
  <h5>Cookie-Zustimmung</h5>
  <p class="padding-2">Um dir ein optimales Erlebnis zu bieten, verwenden wir Technologien wie Cookies, um Geräteinformationen zu speichern und/oder darauf zuzugreifen. Wenn du diesen Technologien zustimmst, können wir Daten wie das Surfverhalten auf dieser Website verarbeiten. Wenn du deine Zustimmung nicht erteilst oder zurückziehst, können bestimmte Merkmale und Funktionen beeinträchtigt werden.</p>
    <a id="cookie-notice-accept" class="button"> Akzeptieren</a>
    <a id="close-cookie-banner" class="button"> Ablehnen</a>
  <div class="left padded-lr">
    <a href="/cookie-richtlinie" id="cookie-banner-datenschutz">Cookie-Richtlinie</a>
    <a href="/datenschutz.html" id="cookie-banner-datenschutz">Datenschutzrichtlinie</a>
  </div>
  </div>
  
  <div class="reshow-button">
    <i class="fa-solid fa-angle-up"></i>
  </div>