<!DOCTYPE html>
<html>

<!---------- this is the HEAD --------->
<head>
    <title> Portfolio Website </title>

    <!-- Viewport meta tag -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Gridlex -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridlex/2.7.1/gridlex.min.css">

    <!-- Fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Google Fonts 'Source Sans Pro', sans-serif; -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;1,200;1,300;1,400;1,600&display=swap" rel="stylesheet">  

    <!-- My own custom stylesheet -->
    <link rel="stylesheet" href="/style.css">

</head>

<!--------- this is the BODY ----------->
<body>
<!----------- header ------------->
<header class="grid">
    <div class="col-5_sm-12-middle padded-0 sm-center">
        <a href="/index.html"><h1>onememorydesign</h1></a>
    </div>
    <nav class="col-7_sm-12-middle right padded-0 sm-center">
        <a href="/about.html">About</a>
        <a href="/services.html">Services</a>
        <a href="/portfolio.html">Portfolio</a>
        <a href="/contact.html">Contact</a>
    </nav>
</header>

{{ content }}


<!----------- footer ---------->
<footer class="grid bg-dark light-text padded padded-b-0" id="contact">
    <div class="col-7_sm-12 padded sm-center">
        <h2 class="logo">The Design Collective.</h2>
        <h3>Web Design & Development</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quaerat cumque et suscipit laboriosam quia.</p>
    </div>
    <div class="col-5_sm-12-bottom padded right sm-center">
        <h3>Let's Connect.</h3>
        <a href="#"><i class="fa-brands fa-pinterest-p"></i></a>
        <a href="#"><i class="fa-brands fa-instagram"></i></a>
        <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
        <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
    </div>
    <div class="col-12 center padded-t">
        <p class="copyright">Copyright 2024</p>
    </div>
</footer>

</body>

</html>